<div class="spells">
    <h1>Spells</h1>
    <div class="container">

        <div>
            <input data-bind="textInput: spellQuery" />
            <ul data-bind="foreach: spells">
                <li class="spellElement">
                    <div data-bind="click: function(data, event) {$parent.chooseSpell($data)}">
                        <span data-bind="text: $data.name" style="font-weight: bold"></span>
                        <p data-bind="text: $data.shortDescription"></p>
                    </div>

                </li>

            </ul>
        </div>
        <spell-info params="spell: currentSpell"></spell-info>
    </div>
</div>