Pathfinder/.vs/Pathfinder/v16/Server/sqlite3/db.lock
Pathfinder/.vs/Pathfinder/v16/.suo
Pathfinder/.vs/Pathfinder/v16/Server/sqlite3/storage.ide-shm
Pathfinder/.vs/Pathfinder/v16/Server/sqlite3/storage.ide
Pathfinder/.vs/Pathfinder/v16/Server/sqlite3/storage.ide-wal
Pathfinder/obj/Pathfinder.csproj.nuget.dgspec.json
Pathfinder/obj/Pathfinder.csproj.nuget.g.targets
Pathfinder/obj/Pathfinder.csproj.nuget.g.props
Pathfinder/obj/Pathfinder.csproj.nuget.cache
.vs/
obj/
