<div>
    <h1>Spellbook</h1>
    <ul class="row unstyled" data-bind="foreach: spellLevels">
        <li class="col-12 col-md-6">
            <div>
                <h2>Level <span data-bind="text: $index"></span></h2>
                <button class="btn btn-dark btn-sm w-100" data-bind="click: function(data, event) {$component.AddSpellToSpellbook($data.level)}">Add Spell</button>
                <div class="form-row">
                    <div class="form-group col-3">
                        <input type="text" placeholder="DC" data-bind="textInput: $data.spellDC" />
                        <label class="spellHeader">SpellDC </label>
                    </div>
                    <div class="form-group col-3">
                        <input type="text" placeholder="spellsKnown" data-bind="textInput: $data.spellsKnown" />
                        <label class="spellHeader">Spells Known</label>
                    </div>
                    <div class="form-group col-3">
                        <input type="text" placeholder="Spells Per Day" data-bind="textInput: $data.spellsPerDay" />
                        <label class="spellHeader">Spells Per Day </label>
                    </div>
                    <div class="form-group col-3">
                        <input type="text" data-bind="textInput: $data.spellsPrepared" />
                        <label class="spellHeader">Spells Prepared </label>
                    </div>
                </div>

            </div>
            <ul class="row unstyled" data-bind="foreach: spells">
                <li class="box col-6">

                    <div data-bind="using: spell, click: function(data){ $component.ShowSpellInfo($parent.level,$data)}">
                        <h3 data-bind="text: $data.name">Spell</h3>
                        <div>
                            <div data-bind="text: $data.shortDescription"></div>
                        </div>
                    </div>

                    <div>Preparation: <span data-bind="text: $data.prepared"></span></div>

                </li>
            </ul>
           
        </li>


    </ul>
</div>


<div id="spellModal" class="modal" data-bind="style: { display: $root.spellModal().isOpen() ? 'block' : 'none'}">
    <div class="modal-content">
        <span class="close" data-bind="click: CloseSpellModal">X</span>
        <div class="container">
            <spell-info id="spellInfo"></spell-info>
            <spell data-bind="style: { display:  $root.spellModal().isAddingSpell() ? 'block' : 'none'}"></spell>
            
            </div>
        </div>

</div>
